
catboost_info/catboost_training.json
catboost_info/fold_0_learn/events.out.tfevents
catboost_info/fold_0_learn_error.tsv
catboost_info/fold_0_test/events.out.tfevents
catboost_info/fold_0_test_error.tsv
catboost_info/fold_0_time_left.tsv
catboost_info/fold_1_learn/events.out.tfevents
catboost_info/fold_1_test/events.out.tfevents
catboost_info/fold_2_learn/events.out.tfevents
catboost_info/fold_2_test/events.out.tfevents
catboost_info/fold_3_learn/events.out.tfevents
catboost_info/fold_3_test/events.out.tfevents
catboost_info/learn/events.out.tfevents
catboost_info/learn_error.tsv
catboost_info/test/events.out.tfevents
catboost_info/test_error.tsv
catboost_info/time_left.tsv
.ipynb_checkpoints/mlcourse.ai. Fall 2019. Catboost starter-checkpoint.ipynb
.ipynb_checkpoints/assignment2_part1_decision_trees-checkpoint.ipynb
mlcourse-Copy1.ai. Fall 2019. Catboost starter.ipynb
.ipynb_checkpoints/mlcourse-Copy1.ai. Fall 2019. Catboost starter-checkpoint.ipynb
assingment2_part_model_testing/.idea/vcs.xml
assingment2_part_model_testing/.idea/modules.xml
assingment2_part_model_testing/.idea/misc.xml
assingment2_part_model_testing/.idea/inspectionProfiles/profiles_settings.xml
assingment2_part_model_testing/.idea/assingment2_part_model_testing.iml
assingment2_part_model_testing/.idea/vcs.xml
assingment2_part_model_testing/.idea/modules.xml
assingment2_part_model_testing/.idea/misc.xml
assingment2_part_model_testing/.idea/inspectionProfiles/profiles_settings.xml
assingment2_part_model_testing/.idea/assingment2_part_model_testing.iml
assingment2_part_model_testing/.idea/vcs.xml
assingment2_part_model_testing/cat_feature_index.3b837f23-e1b4e3c7-a0823d8b-8e3f6cda.tmp
assingment2_part_model_testing/catboost_info/catboost_training.json
assingment2_part_model_testing/catboost_info/fold_0_learn/events.out.tfevents
assingment2_part_model_testing/catboost_info/fold_0_learn_error.tsv
assingment2_part_model_testing/catboost_info/fold_0_test/events.out.tfevents
assingment2_part_model_testing/catboost_info/fold_0_test_error.tsv
assingment2_part_model_testing/catboost_info/fold_0_time_left.tsv
assingment2_part_model_testing/catboost_info/fold_1_learn/events.out.tfevents
assingment2_part_model_testing/catboost_info/fold_1_test/events.out.tfevents
assingment2_part_model_testing/catboost_info/fold_2_learn/events.out.tfevents
assingment2_part_model_testing/catboost_info/fold_2_test/events.out.tfevents
assingment2_part_model_testing/catboost_info/learn/events.out.tfevents
assingment2_part_model_testing/catboost_info/learn_error.tsv
assingment2_part_model_testing/catboost_info/test/events.out.tfevents
assingment2_part_model_testing/catboost_info/test_error.tsv
assingment2_part_model_testing/catboost_info/time_left.tsv
Untitled.ipynb
tree1.png
